@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right,#F27979, white);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #526c9c69
}

h1 {
    color:#46658C;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}

h2 {
    color:#D93644;
}

p {
   text-align: justify; 
}